[submodule "awesome/.config/awesome/collision"]
	path = awesome/.config/awesome/collision
	url = https://github.com/Elv13/collision.git
[submodule "org-files/org-files"]
	path = org-files/org-files
	url = https://github.com/Andriy0/org-files.git
